@font-face {
	font-family: "Just Lovely"; 
	src: url("../fonts/JustLovely.woff2") format("woff2"), 
	url("../fonts/JustLovely.woff2") format("woff");
	font-weight: 400;
  font-style: normal;
  font-display: swap;
}