body,
h2,
h3,
p {
	font-family: 'Lato', ui-sans-serif, system-ui, -apple-system;
	color: #2e2c2e;
}

a {
	color: #137547;
}

p {
	line-height: 1.7rem;
	font-size: 1.15rem;
	font-weight: 300;
}

h2 {
	margin-bottom: 30px;
}

h3 {
	font-weight: 400;
}

.two-col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.text {
	margin: 30px;
}

section {
	margin-top: 60px;
}

.full-width {
	margin: 60px auto;
	max-width: 800px;
}
.full-width h2 {
	text-align: center;
}

.image-grid-4-2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	grid-gap: 1px;
}

.footer {
	text-align: center;
	background: #2e2c2e;
	color: #ffffff;
	padding: 30px;
	margin-bottom: 0;
}

.inside {
	margin-right: 50px;
}

.outside {
	margin-left: 50px;
}

@media only screen and (max-width: 768px) {
	.two-col {
		grid-template-columns: 1fr;
	}

	.image-grid {
		grid-template-columns: 1fr;
	}

	section {
		margin-top: 30px;
		margin-bottom: 0;
	}

	.full-width {
		margin-left: 30px;
		margin-right: 30px;
	}

	.outside {
		margin-left: 0;
	}

	.zero-tm-mobile {
		margin-top: 0 !important;
	}

	.text h2 {
		text-align: center;
	}
}
